<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpRuntime />
    <!-- Needs to add this to pass W3C XTHML 1 Strict validation-->
    <xhtmlConformance mode="Strict" />
    <compilation strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <customErrors defaultRedirect="GenericError.htm" mode="Off">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <appSettings>
    <add key="CLFVersion" value="gcweb" />
    <add key="SplashPageCLFNewVersion" value="gcwu-fegc-wet4" />
    <add key="Environment" value="Acceptance" />
    <add key="AppName" value="CARS Exemptions" />
    <add key="LogErrorsToEventLog" value="false" />
    <add key="EMailErrors" value="true" />
    <add key="DateAppLastModified" value="2020-07-10" />
    <add key="doc_file_path_en" value="C:\CARS\Documents\en" />
    <add key="doc_file_path_fr" value="C:\CARS\Documents\fr" />
    <add key="doc_url_path_en" value="https://www.tc.gc.ca/CivilAviation/regserv/Affairs/exemptions/docs/en/" />
    <add key="doc_url_path_fr" value="https://www.tc.gc.ca/Aviationcivile/servreg/Affaires/exemptions/docs/fr" />
    <add key="TCErrorEmailAddress" value="chris.boivin@tc.gc.ca" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Production" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=d:\wwwdatabases\dm_exempt.accdb;Persist Security Info=False;" providerName="System.Data.OleDb"/>-->
    <add name="APP_DATABASE" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\CARS\Database\dm_exempt.accdb;Persist Security Info=False;" providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=Edge" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
<!--ProjectGuid: 56E3DEB0-72C7-4008-80B6-CDC15C6933E6-->