<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime/>
    <!-- Needs to add this to pass W3C XTHML 1 Strict validation-->
    <xhtmlConformance mode="Strict"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <customErrors mode="RemoteOnly" defaultRedirect="error_erreur.aspx">
      <error statusCode="404" redirect="err_404.htm"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <add key="CLFVersion" value="gcweb"/>
    <add key="SplashPageCLFNewVersion" value="gcwu-fegc-wet4"/>
    <add key="Environment" value="Developmment"/>
    <add key="AppName" value="CARS Exemptions"/>
    <add key="LogErrorsToEventLog" value="false"/>
    <add key="EMailErrors" value="true"/>
    <add key="DateAppLastModified" value="2020-07-15"/>
    <add key="doc_file_path_en" value="\\tctestmaster\tcwwwroot\CivilAviation\regserv\Affairs\exemptions\docs\en"/>
    <add key="doc_file_path_fr" value="\\tctestmaster\tcwwwroot\Aviationcivile\servreg\Affaires\exemptions\docs\fr"/>
    <add key="doc_url_path_en" value="http://www.tc.gc.ca/CivilAviation/Regserv/Affairs/exemptions/docs/en/"/>
    <add key="doc_url_path_fr" value="http://www.tc.gc.ca/AviationCivile/Servreg/Affaires/exemptions/docs/fr/"/>
    <add key="TCErrorEmailAddress" value="chris.boivin@tc.gc.ca"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Production" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=d:\wwwdatabases\dm_exempt.accdb;Persist Security Info=False;" providerName="System.Data.OleDb"/>-->
    <add name="APP_DATABASE" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\ncrws499\wwwdatabases\dm_exempt.accdb;Persist Security Info=False;" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=Edge"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>